<div class="info-container">
    <h1>INFORMACIÓN ADICIONAL</h1>
    <ul>
        <li>Argumentos de entrada: {{arguments}}</li>
        <li>Nombre de la plataforma (sistema operativo): {{sistema_operativo}}</li>
        <li>Versión de Node.js: {{node_version}}</li>
        <li>Memoria total reservada: {{memory}}</li>
        <li>Path de ejecución: {{execution_path}}</li>
        <li>Process id: {{process_id}}</li>
        <li>Carpeta del proyecto: {{project_dir}}</li>
    </ul>
</div>